@use 'theme.module' as theme;

.addFood {
    width: 70px;
    margin: 5px;
    & div {
        box-shadow: theme.$inset-shadow;
        border-radius: theme.$radius;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-image: url("/Add.png");
        margin: auto;
    };
    & p {
        margin: 3px;
        font-size: 12px;
        font-weight: lighter;
        text-align: center;
    }
}