@use "theme.module" as theme;


.floatingbox {
    max-width: calc( 100vw - 40px );
    background: theme.$light; 
    border-radius: theme.$radius;
    box-shadow: theme.$shadow;
    padding: 10px 20px;
}