
$light: #fff;
$dark: #443D33;
$green: #89BF8F;
$green25: #89BF8F33;
$purple: #BA56F4;
$purple75: #BA56F4BF;

$radius: 5px;
$shadow: 1px 4px 8px 0 $green25;

:export {
    light: $light;
    dark: $dark;
    green: $green;
    green25: $green25;
    purple: $purple;
    purple75: $purple75;
    radius: $radius;
    shadow: $shadow;
}