
$light: #fff;
$dark: #443D33;
$green: #89BF8F;

$radius: 5px;
$shadow: 1px 4px 8px 0 #89BF8F33;

:export {
    light: $light;
    dark: $dark;
    green: $green;
    radius: $radius;
    shadow: $shadow;
}